################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestApp/.vs/TestApp
/TestApp/TestApp/obj
